<%= form_for(@distribution) do |f| %>
<fieldset>
  <div class="clearfix">
    <%= f.label :date %>
    <div class="input">
      <%= f.text_field :date, :value => Date.today, :required => "required" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, :required => "required" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :amount %>
    <div class="input">
      <%= f.text_field :amount, value: @total_refill_amount, required: "required", disabled: true %>
    </div>
  </div>
<fieldset>
  <legend>Monthly Envelopes</legend>
  <%= fields_for :transactions do |t| %>
    <% @monthly_envelopes.each do |e| %>
    <div class="clearfix">
      <%= t.label e.name %>
      <div class="input">
        <%= t.text_field e.name, :value => e.refill_amount %>
        <span><%= number_to_currency(e.current_amount) %>/<%= number_to_currency(e.budget) %></span>
      </div>
    </div>
    <% end %>
  <% end %>
</fieldset>
<fieldset>
  <legend>Annual Envelopes</legend>
  <%= fields_for :transactions do |t| %>
    <% @annual_envelopes.each do |e| %>
    <div class="clearfix">
      <%= t.label e.name %>
      <div class="input">
        <%= t.text_field e.name, :value => e.refill_amount %>
        <span><%= number_to_currency(e.current_amount) %>/<%= number_to_currency(e.budget) %></span>
      </div>
    </div>
    <% end %>
  <% end %>
</fieldset>
  <div class="actions"><%= f.submit "Save", class: "btn primary" %></div>
</fieldset>
<% end %>
