    <table>
      <thead>
      <tr>
        <th class="envelope_name">Envelopes</th>
        <th class="budget">Annual Budget</th>
        <th class="current_amount">Current Amount</th>
        <th class="meter">Meter</th>
      </tr>
    </thead>
    <tbody>
  <% @annual_envelopes.each do |envelope| %>
      <tr>
        <td><%= best_in_place envelope, :name %></td>
        <td class="money"><%= best_in_place envelope, :budget, :display_with => :number_to_currency %></td>
        <td class="money"><%= number_to_currency(envelope.current_amount) %></td>
        <td><meter min=0 max=<%= envelope.budget %> value=<%= envelope.current_amount %>></meter></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td class="money"><%= number_to_currency(@annual_total_budget) %></td>
      <td class="money"><%= number_to_currency(current_user.total_annual_current_amount) %></td<>
      <td></td>
    </tr>
  </tbody>
</table>
<p>Unallocate Money <%= number_to_currency(current_user.unallocated_amount) %></p>
 
