<%= form_for(@envelope) do |f| %>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name, :required => "required" %>
  <%= f.label :budget%>
  <%= f.text_field :budget, :required => "required" %>
  <label class="radio">
    <%= f.radio_button :monthly, 1, :checked => true %> monthly
  </label>
  <label class="radio">
  <%= f.radio_button :monthly, 0 %> annual
  </label>
  <div class="actions">
    <%= f.submit "Save Envelope", :class => "btn-primary" %>
  </div>
</fieldset>
<% end %>
