    <table>
      <thead>
      <tr>
        <th class="envelope_name">Envelopes</th>
        <th class="budget">Monthly Budget</th>
        <th class="current_amount">Current Amount</th>
        <th>Meter</th>
      </tr>
    </thead>
    <tbody>
  <% @monthly_envelopes.each do |envelope| %>
      <tr>
        <td><%= best_in_place envelope, :name %></td>
        <td class="money"><%= best_in_place envelope, :budget, :display_with => :number_to_currency %></td>
        <td class="money"><%= link_to number_to_currency(envelope.current_amount), transactions_path(:envelope => envelope) %></td>
        <td class="meter"><meter min=0 max=<%= envelope.budget %> value=<%= envelope.current_amount %>></meter></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td class="money" id="total_monthly_budget"><%= number_to_currency(@monthly_total_budget) %></td>
      <td class="money"><%= number_to_currency(current_user.total_monthly_current_amount) %></td<>
      <td></td>
    </tr>

  </tbody>
</table> 
<p>Unallocate Money <%= number_to_currency(current_user.unallocated_amount) %></p>


