<div class="page-header">
  <h1>Envelopes</h1>
</div>
<section id="envelopes">
  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#monthly_envelopes">Monthly</a></li>
    <li><a href="#annual_envelopes">Annual</a></li>
    <li><a href="#add_envelope">Add Envelope</a></li>
    <li><a href="#distribution">Distribution</a></li>
    <li><a href="#transfer">Transfer</a></li>
  </ul>
  <div class="tab-content">
    <div class="active" id="monthly_envelopes">
      <%= render 'monthly_envelopes' %>
    </div>
    <div id="annual_envelopes">
      <%= render 'annual_envelopes' %>
    </div>
    <div id="add_envelope">
      <%= render 'form' %>
    </div>
    <div id="distribution">
      <%= render 'distributions/form' %> 
    </div>
    <div id="transfer">
      <%= render 'transfers/form' %> 
    </div>
  </div>
</section>
