<%= render 'header' %>
<section id="monthly_envelopes">
    <table class="table">
      <thead>
      <tr>
        <th class="envelope_name">Envelopes</th>
        <th class="budget">Monthly Budget</th>
        <th class="current_amount">Current Amount</th>
        <th>Meter</th>
        <th class="monthly">Monthly Envelope</th>
      </tr>
    </thead>
    <tbody>
  <% @monthly_envelopes.each do |envelope| %>
      <tr>
        <td><%= best_in_place envelope, :name %></td>
        <td class="money"><%= best_in_place envelope, :budget, :display_with => :number_to_currency %></td>
        <td class="money"><%= link_to number_to_currency(envelope.current_amount), transactions_path(:envelope => envelope) %></td>
        <td class="meter">
          <div class="progress progress-success">
            <div class="bar" style="width: <%= number_to_percentage(envelope.current_amount / envelope.budget * 100) %>;"></div>
          </div>
        </td>
        <td><%= best_in_place envelope, :monthly, :type => :checkbox %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td class="money" id="total_monthly_budget"><%= number_to_currency(@monthly_total_budget) %></td>
      <td class="money"><%= number_to_currency(current_user.total_monthly_current_amount) %></td<>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>
<p>Current month income <%= link_to number_to_currency(current_user.current_month_income), transactions_path(:start_date => beginning_of_this_month, :end_date => beginning_of_next_month, :type => 1) %></p> 
<p>Current month expense <%= link_to number_to_currency(current_user.current_month_expense), transactions_path(:start_date => beginning_of_this_month, :end_date => beginning_of_next_month, :type => 0) %></p> 
<p>Current month saving <span class=<%= color_amount(current_user.current_month_saving) %>><%= number_to_currency(current_user.current_month_saving) %></span></p> 
<p>Total unallocate money <%= number_to_currency(current_user.unallocated_amount) %></p>
</section>
