<div data-role="header">
  <%= link_to "Full Site", envelopes_path(:mobile => 0), :rel => "external", "data-icon" => "back" %> 
  <h1>Budget Envelopes</h1>
  <%= link_to "Add", new_envelope_path, "data-icon" => "plus" %> 
</div>

<div data-role="content">
  <ul data-role="listview">
    <li data-role="list-divider" role="heading">Monthly Envelopes</li>
    <% @monthly_envelopes.each do |envelope| %>
    <li>
    <%= link_to transactions_path(:envelope => envelope) do %>
    <h3><%= envelope.name %></h3>
    <p class="ui-li-aside ui-li-desc"><%= number_to_currency(envelope.current_amount) %> / <%= number_to_currency(envelope.budget) %></p>
    <p class="ui-li-desc">
    <div style="padding:2px;background:#CCC;">
      <div style="width:<%= amount_percentage(envelope) %>;background:green;text-align:left;height:4px">
      </div>
    </div> 
    </p>
    <% end %>
    </li>
    <% end %> 
    <li data-role="list-divider" role="heading">Annual Envelopes</li>
    <% current_user.envelopes.where(:monthly => :false).order("name").each do |envelope| %>
    <li>
    <%= link_to transactions_path(:envelope => envelope) do %>
    <h3><%= envelope.name %></h3>
    <p class="ui-li-aside ui-li-desc"><%= number_to_currency(envelope.current_amount) %> / <%= number_to_currency(envelope.budget) %></p>
    <p class="ui-li-desc">
    <div style="padding:2px;background:#CCC;">
      <div style="width:<%= amount_percentage(envelope) %>;background:green;text-align:left;height:4px">
      </div>
    </div> 
    </p>
    <% end %>
    </li>
    <% end %>
  </ul>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active">Envelopes</a></li>
      <li><%= link_to 'Transactions', transactions_path %></li>
      <li><%= link_to 'Accounts', accounts_path %></li>
    </ul>
  </div>
</div>
