<div class="page-header">
  <h1>Envelopes</h1>
</div>
<div class="envelopes">
  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#">Monthly</a></li>
    <li><%= link_to "Annual", annual_envelopes_path %></li>
    <li><%= link_to "Add Envelope", new_envelope_path %></li>
    <li><%= link_to "New Distribution", new_distribution_path %></li>
    <li><%= link_to "Transfer Between Envelopes", new_transfer_path %></li>
  </ul>
  <div class="tab-content">
    <div class="active" id="monthly_envelopes">
    <table>
      <thead>
      <tr>
        <th class="envelope_name">Envelopes</th>
        <th class="budget">Monthly Budget</th>
        <th class="current_amount">Current Amount</th>
        <th>Meter</th>
        <th class="monthly">Monthly Envelope</th>
      </tr>
    </thead>
    <tbody>
  <% @monthly_envelopes.each do |envelope| %>
      <tr>
        <td><%= best_in_place envelope, :name %></td>
        <td class="money"><%= best_in_place envelope, :budget, :display_with => :number_to_currency %></td>
        <td class="money"><%= link_to number_to_currency(envelope.current_amount), transactions_path(:envelope => envelope) %></td>
        <td class="meter"><meter min=0 max=<%= envelope.budget %> value=<%= envelope.current_amount %>></meter></td>
        <td><%= best_in_place envelope, :monthly, :type => :checkbox %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td class="money" id="total_monthly_budget"><%= number_to_currency(@monthly_total_budget) %></td>
      <td class="money"><%= number_to_currency(current_user.total_monthly_current_amount) %></td<>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>
<p>Current month income <%= link_to number_to_currency(current_user.current_month_income), transactions_path(:start_date => beginning_of_this_month, :end_date => beginning_of_next_month, :type => 1) %></p> 
<p>Current month expense <%= link_to number_to_currency(current_user.current_month_expense), transactions_path(:start_date => beginning_of_this_month, :end_date => beginning_of_next_month, :type => 0) %></p> 
<p>Current month saving <%= number_to_currency(current_user.current_month_saving) %></p> 
<p>Total unallocate money <%= number_to_currency(current_user.unallocated_amount) %></p>
    </div>
  </div>
</div>
