<div data-role="header">
  <%= link_to 'Home', root_url, "data-icon" => "home" %> 
  <h1>Budget Envelopes</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li data-role="list-divider" role="heading">Monthly Envelopes</li>
    <% @monthly_envelopes.each do |envelope| %>
      <li>
        <a href="#">
          <%= envelope.name %>
          <span class="ui-li-aside">
            <%= number_to_currency(envelope.current_amount) %> / <%= number_to_currency(envelope.budget) %>
          </span>
        </a>
      </li>
    <% end %> 
    <li data-role="list-divider" role="heading">Annual Envelopes</li>
    <% current_user.envelopes.where(:monthly => :false).order("name").each do |envelope| %>
      <li>
        <a herf="#">
          <%= envelope.name %>
          <span class="ui-li-aside">
            <%= number_to_currency(envelope.current_amount) %> / <%= number_to_currency(envelope.budget) %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active">Envelopes</a></li>
      <li><%= link_to 'Transactions', transactions_path %></li>
      <li><%= link_to 'Accounts', accounts_path %></li>
    </ul>
  </div>
</div>
