<div data-role="header">
  <%= link_to "Full Site", envelopes_path(:mobile => 0), :rel => "external", "data-icon" => "back" %> 
  <h1>Budget Envelopes</h1>
  <%= link_to "Add", new_envelope_path, "data-icon" => "plus" %> 
</div>

<div data-role="content">
  <ul data-role="listview">
    <li data-role="list-divider" role="heading">Monthly Envelopes</li>
    <% @monthly_envelopes.each do |envelope| %>
      <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
        <div class="ui-btn-inner ui-li">
          <div class="ui-btn-text">
        <%= link_to transactions_path(:envelope => envelope), class: "ui-link-inherit" do %>
          <p class="ui-li-aside ui-li-desc">
            <%= number_to_currency(envelope.current_amount) %> / <%= number_to_currency(envelope.budget) %>
            </p>
          <h3 class="ui-li-heading"><%= envelope.name %></h3>
          <% end %>
          </div>
          <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
          </div>
      </li>
    <% end %> 
    <li data-role="list-divider" role="heading">Annual Envelopes</li>
    <% current_user.envelopes.where(:monthly => :false).order("name").each do |envelope| %>
      <li>
        <a herf="#">
          <%= envelope.name %>
          <span class="ui-li-aside">
            <%= number_to_currency(envelope.current_amount) %> / <%= number_to_currency(envelope.budget) %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active">Envelopes</a></li>
      <li><%= link_to 'Transactions', transactions_path %></li>
      <li><%= link_to 'Accounts', accounts_path %></li>
    </ul>
  </div>
</div>
