<%= form_tag transfers_path, :class => "form-horizontal" do %>
<fieldset>
  <div class="control-group">
  <%= label_tag "Date" %>
    <div class="controls">
      <%= text_field_tag "transfer_date", Date.today, required: "required" %>
    </div>
  </div>
  <div class="control-group">
  <%= label_tag "Name" %>
    <div class="controls">
      <%= text_field_tag "name" %>
    </div>
  </div>
  <div class="control-group">
  <%= label_tag "Amount" %>
    <div class="controls">
      <%= text_field_tag "amount", nil, required: "required" %>
    </div>
  </div>
  <div class="control-group">
  <%= label_tag "From" %>
    <div class="controls">
      <%= select_tag "from", options_from_collection_for_select(@envelopes, :id, :name_amount) %>
    </div>
  </div>
  <div class="control-group">
  <%= label_tag "To" %>
    <div class="controls">
      <%= select_tag "to", options_from_collection_for_select(@envelopes, :id, :name_amount) %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Save Transfer", class: "btn-primary" %>
  </div>
</fieldset>
<% end %>
