<%= form_for(@transaction) do |f| %>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :envelope %>
    <%= f.collection_select :envelope_id, Envelope.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :account %>
    <%= f.collection_select :account_id, Account.all, :id, :name %>
  </div>
  <% if params[:income] %>
  <div class="field">
    <%= hidden_field_tag :income, :true %>
  </div>
  <% end %>
  <div class="actions"><%= f.submit "Save" %></div>
<% end %>
