<%= form_for(@transaction) do |f| %>
<fieldset>
  <div class="clearfix">
    <%= label_tag :type %>
    <div class="input">
      <%= radio_button_tag :income, 0, :checked => true%>
      <span>Expense</span>
    </div>
    <div class="input">
      <%= radio_button_tag :income, 1%>
      <span>Income</span>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :date %>
    <div class="input">
      <%= f.text_field :date %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :amount %>
    <div class="input">
      <%= f.text_field :amount %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :envelope %>
    <div class="input">
      <%= f.collection_select :envelope_id, current_user.envelopes, :id, :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :account %>
    <div class="input">
      <%= f.collection_select :account_id, current_user.accounts, :id, :name %>
    </div>
  </div>
  <div class="actions"><%= f.submit "Save", :class => "btn primary" %></div>
</fieldset>
<% end %>
