<%= form_tag transactions_path, method: 'get', remote: true, id: 'search_transactions_form', class: 'form-inline' do %>
  <%= search_field_tag "search", params[:search], placeholder: "Name", class: "span1" %>
  <%= select_tag "envelope", options_from_collection_for_select(current_user.envelopes, :id, :name, params[:envelope]), prompt: "Envelope", class: "span2" %>
  <%= select_tag "account", options_from_collection_for_select(current_user.accounts, :id, :name, params[:account]), prompt: "Account", class: "span2" %>
  <%= select_tag "type", options_for_select([['Expense', 0], ['Income', 1], ['Allocation', 2], ['Account Transfer', 3]], params[:type]), prompt: "Type", class: "span2" %>
  <%= text_field_tag "start_date", params[:start_date], placeholder: "Start Date", class: "span2" %> to 
  <%= text_field_tag "end_date", params[:end_date], placeholder: "End Date", class: "span2" %>
  <%= submit_tag "Search", name: nil %>
  <%= link_to "Download", transactions_path(params.merge({format: :csv})), class: "btn" %>
<% end %>
<div id="transaction_table">
  <%= render 'transactions' %>
</div>
