<%= form_tag transactions_path, method: 'get', remote: true do %>
  <%= search_field_tag "search", params[:search], placeholder: "By Name" %>
  <%= select_tag "envelope", options_from_collection_for_select(current_user.envelopes, :id, :name, params[:envelope]), prompt: "By Envelope" %>
  <%= select_tag "account", options_from_collection_for_select(current_user.accounts, :id, :name, params[:account]), prompt: "By Account" %>
  <%= select_tag "type", options_for_select([['Expense', 0], ['Income', 1], ['Allocation', 2], ['Account Transfer', 3]], params[:type]), prompt: "By Type" %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<div id="transaction_table">
  <%= render 'transactions' %>
</div>
