<div data-role="header">
  <%= link_to 'Home', envelopes_path, "data-icon" => "home" %> 
  <h1>Transactions</h1>
  <%= link_to 'Add', new_transaction_path, "data-icon" => "plus" %> 
</div>

<div data-role="content">
<ul data-role="listview" class="ui-listview">
     <% @transactions.each do |transaction| %>
       <li class="ui-li ui-li-static">
       <div class="ui-grid-c">
       <div class="ui-block-a"><%= transaction.date.strftime("%m/%d") %></div>
       <div class="ui-block-b <%= amount_color(transaction) %>"><%= number_to_currency(transaction.amount) %></div>
    <div class="ui-block-c"><%= params[:envelope] ? transaction.account_name : transaction.envelope_name %></div>
    <div class="ui-block-d"><%= transaction.name %></div>
    </div>
    </li>
      <% end %>
  </ul>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Envelopes', envelopes_path %></li>
      <li><%= link_to 'Transactions', transactions_path, class: "ui-btn-active" %></li>
      <li><%= link_to 'Accounts', accounts_path %></li>
    </ul>
  </div>
</div>
