<%= render 'header' %>
<section id="budget_allocation">
    <div class="row">
      <div class="span4">
         <table class="table">
            <thead>
            <tr>
              <th>Envelope</th>
              <th class="money">Amount</th>
              <th class="money">%</th>
            </tr>
          </thead>
          <tbody>
          <% @envelopes.each do |e| %>
            <% e.monthly ? budget = e.budget : budget = e.budget/12 %>
            <tr>
              <td><%= e.name %></td>
              <td class="money"><%= number_to_currency(budget) %></td>
              <td class="money"><%= number_to_percentage(budget/@total * 100, :precision => 2) %></td>
            </tr>
          <% end %>
            <tr>
              <td><strong>Total</strong></td>
              <td class="money"><%= number_to_currency(@total) %></td>
              <td></td>
            </tr>
          </tbody>
         </table>
      </div>
      <div class="span8">
        <div id="chart"></div>
        <%= render_chart @chart, 'chart' %>
      </div>
    </div>
   </section>
