<%= render 'header' %>
<section id="expense_vs_budget">
     <%= form_tag reports_expense_vs_budget_path, method: 'get' do %>
        <strong>Last </strong><%= select_tag "months", options_for_select((1..12).to_a.map{|n| ["#{n}", n]}, params[:months]), class: "span1" %> <strong>months</strong>
        <%= submit_tag "Filter", name: nil %>
      <% end %>
    <div class="row">
      <div class="span4">
          <table class="table">
            <thead>
            <tr>
              <th>Envelope</th>
              <th class="money">Expense</th>
              <th class="money">Budget</th>
              <th class="money">%</th>
            </tr>
          </thead>
          <tbody>
            <% @envelopes.each do |e| %>
            <tr>
              <td><%= e.name %></td>
              <td class="money"><%= number_to_currency(expense_of_months(e, @months)) %></td>
              <td class="money"><%= number_to_currency(budget_of_months(e, @months)) %></td>
              <td class="money"><%= number_to_percentage(expense_over_budget(e, @months), :precision => 2) %></td>
            </tr>
          <% end %>
            <tr>
              <td><strong>Total</strong></td>
              <td class="money"><%= number_to_currency(@total_expense) %></td>
              <td class="money"><%= number_to_currency(@total_budget) %></td>
              <td class="money"><%= number_to_percentage(@total_percentage, :precision => 0) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span8">
        <div id="chart"></div>
        <%= render_chart @chart, 'chart' %>
      </div>
    </div>
  </section>


