<div class="page-header">
  <h1>Reports</h1>
</div>
<div class="reports">
  <ul class="tabs" data-tabs="tabs">
    <li><%= link_to 'Expense Breakdown', reports_expense_breakdown_path %></li>
    <li class="active"><%= link_to 'Expense vs Budget', reports_expense_vs_budget_path %></li>
    <li><%= link_to 'Budget Allocation', reports_budget_allocation_path %></li>
  </ul>
  <div class="tab-content">
    <div class="active" id="expense_budget">
      <%= form_tag reports_expense_vs_budget_path, method: 'get' do %>
        <strong>Last </strong><%= select_tag "months", options_for_select((1..12).to_a.map{|n| ["#{n}", n]}, params[:months]) %> <strong>months</strong>
        <%= submit_tag "Filter", name: nil %>
      <% end %>
      <div class="row">
        <div class="span6">
          <table>
            <thead>
            <tr>
              <th>Envelope</th>
              <th class="money">Expense</th>
              <th class="money">Budget</th>
              <th class="money">%</th>
            </tr>
          </thead>
          <tbody>
            <% @envelopes.each do |e| %>
              <% expense = e.months_expense(@months) %>
              <% budget = e.budget.to_f * @months %>
            <tr>
              <td><%= e.name %></td>
              <td class="money"><%= number_to_currency(expense) %></td>
              <td class="money"><%= number_to_currency(budget) %></td>
              <td class="money"><%= number_to_percentage(expense/budget * 100, :precision => 2) %></td>
            </tr>
          <% end %>
            <tr>
              <td><strong>Total</strong></td>
              <td class="money"><%= number_to_currency(@total_expense) %></td>
              <td class="money"><%= number_to_currency(@total_budget) %></td>
              <td class="money"><%= number_to_percentage(@total_percentage, :precision => 0) %></td>
            </tr>
          </tbody>
          </table>
        </div>
        <div class="span10">
          <div id="chart"></div>
          <%= render_chart @chart, 'chart' %>
        </div>
      </div>
    </div>
  </div>
</div>



