<!DOCTYPE html>
<html>
<head>
  <title>Envelopes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <%= link_to 'Envelopes Budget', root_url, :class => 'brand' %>
        <ul class="nav">
          <li><%= link_to 'Envelopes', envelopes_path %></li>
          <li><%= link_to 'Transactions', transactions_path %></li>
          <li><%= link_to 'Accounts', accounts_path %></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
    </div>
  </div>
  <header>
  </header>
  <div class="notice">
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
  </div>
 
  <div class="container">
    <section id="main">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
      <div class="span4"></div>
    </div>
    </section>
  </div>

  <footer>
    <p></p>
  </footer>
</body>
</html>
