<%= form_for(@account) do |f| %>
<fieldset>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, :required => "required" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :note %>
    <div class="input">
      <%= f.text_field :note %>
    </div>
  </div>
  <div class="actions"><%= f.submit "Save", :class => "btn primary" %></div>
<% end %>
