<%= form_for(@account) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <div class="actions"><%= f.submit "Save" %></div>
<% end %>
